.top_10 {
  background-color: #f2f2f2;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.title {
  font-family: var(--type-code1);
  color: #0046CC;
  font-size: 2rem;
  width: 9ch;
  font-weight: bold;
position: relative;
}

.title::after {
  content: '';
  background-color: #9B1476;
  display: block;
  width: 100%;
top: calc(100% + .625rem);
  height: .25rem;
position: absolute;
}

.texto {
  font-family: var(--type-code2);
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.devs_Top10 {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
  
}


@media (max-width: 43.625rem){
  .title{
    margin-bottom: 2rem;
  }
}