.profile_info {
  display: block;
  justify-content: center;
  align-items: center;

}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  min-width: max-content;
  text-align: center;
  font-family: var(--type-code1);
  background-color: #fff;
  box-shadow: 0 0 8px .1px #ccc;
  border-radius: 1rem;
  padding: 1rem .5rem;
}

.profile_photo {
  width: 100%;
}

.profile_name {
  font-family: var(--type-code2);
  font-weight:500;
  font-size: clamp(1rem, 1.2rem + 1vw, 1.2rem);
  padding-bottom: 10px;
}

.profile_area {}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: clamp(.875rem, .875rem +2vw, 1rem);
}

.status div {
  display: flex;
  text-align: justify;
  flex-direction: column;
}

.location svg,
.status svg {
  color: #0044cc;
}
.description{
  margin: 1.5rem 0;
}
.seguir{
display: flex;
justify-content: center;
align-items: center;
}
.seguir button{
  width: 100%;
  margin: 0 1rem;
  border-radius: 3rem;
  padding: .5rem;
  font-family: var(--type-code3);
  font-weight: 500;
  background-color: #9B1476;
}

.utilities{
  margin: 1rem 0rem;
}
.utilitiesTitle{
  font-family: var(--type-code2);
  font-weight: 500;
  font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
  margin-bottom: 10px;
}
.utilitiesList{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.utilitiesList li{
  padding: .4rem .5rem;
  background-color: #ccc;
  border-radius: 4px;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footerProfile{
  font-weight: 500;
}