.profile_info {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
  text-align: center;
  font-family: var(--type-code1);
  background-color: #fff;
  box-shadow: 0 0 3px .1px #ccc;
  border-radius: .4rem;
  border-color: none;
  padding: 1rem .5rem;
}

.profile_photo {
  width: 100%;
}

.profile_name {
  font-family: var(--type-code2);
  font-weight: 600;
  font-size: clamp(1.1rem, 1.3rem + 1vw, 1.3rem);
}

.profile_area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: clamp(1rem, 1rem + 2vw, 1.1rem);
  font-weight: 500;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: clamp(1rem, 1rem + 2vw, 1.1rem);
  font-weight: 500;
}
.status div {
  display: flex;
  text-align: justify;
  flex-direction: column;
}

.status div span {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.location{
  font-size: clamp(1rem, 1.1rem + 1vw, 1.1rem);
}
.location svg,
.status svg {
  color: #0044cc;
}

.bio{
  font-size: clamp(1.1rem, 1.2rem + 1vw, 1.2rem);
  font-weight: 600;
}
.profile_photo {
  max-width: calc(200px);
  border-radius: 4px;
  max-height: 200px;
  box-shadow: 0 0 5px .1px #333333bb;
}

.photo {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.username {
  font-size: clamp(1rem, 1.1rem + 1vw, 1.2rem);
  font-weight: 600;
}

.description {
  margin: 1.5rem 0;
}

.seguir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seguir button {
  width: 100%;
  border-radius: 3rem;
  padding: .5rem;
  font-family: var(--type-code3);
  font-weight: 500;
  background-color: #9B1476;
}

.utilities {
  margin: 1rem 0rem;
}

.utilitiesTitle {
  font-family: var(--type-code2);
  font-weight: 500;
  font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
  margin-bottom: 10px;
}

.utilitiesList {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.utilitiesList li {}

.utilitiesList li img {
  width: 34px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links li a img {
  color: #333;
}

.footerProfile {
  font-weight: 500;
}

@media (max-width: 850px) {
  .info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .status div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
  }

  .status div span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}