.profile{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.profile_links{
  display: flex;
  gap: 10px;
  align-self: end;
  justify-content: end;
}
.profile_info{
  padding: 20px;
  background-color: #F8FAFE;
  border-radius: 12.5px;
}

.button{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: #0046CC;
  color: #ffffff;
  border-radius: .5rem;
  box-sizing: border-box;
  transform: .1s;
}
.button:hover,
.button:focus{
  outline: none;
  box-shadow: 0 0 0 3px #99afdd;
}
.button:disabled{
  opacity: .5;
  cursor: wait;
}
