.works {

  border-radius: 1rem;
  background-color: #ffffff;
  font-family: var(--type-code1);
  padding: .75rem;
  box-shadow: 0 0 12px 5px #ccc;
}

.head {
  display: flex;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
}

.head::after {
  content: '';
  background-color: #9B1476;
  display: block;
  width: 100%;
  top: calc(100%);
  height: .25rem;
  position: absolute;
}