.wrapper{
  margin-bottom: 1rem;

}
@media (max-width: 1080px){
  .wrapper textarea {
    height: 80px;
  }
}
.input::placeholder{
  font-family: var(--type-code2);
  font-size: 14px;
}
.input{
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .4rem;
  background:#fff ;
  transition: all .6s;
}
.input:focus,
.input:hover{
  outline: none;
  border-color: #0046CC;
  box-shadow: 0 0 0 3px #99afdd;
  background: white;
}
.label{
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}

.error{
  color: #f31;
  font-size: .875rem;
  margin-top: .25rem;
}