.wrapper {
  margin-bottom: 1rem;

}

.select {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .4rem;
  background: #fff;
  transition: all .6s;
}

.select:focus,
.select:hover {
  outline: none;
  border-color: #0046CC;
  box-shadow: 0 0 0 3px #99afdd;
  background: white;
}