.smooth{
  background-color: rgba(3, 3, 3, .5);
}
.container{
  background: #fff;
  height: 100%;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 1rem;
  margin: 2rem;
}
@media(max-width: 45rem){
  .container{
    margin: 0;
    padding: 1;

  }
}
.form{
  margin-bottom: 2rem;
  margin-top: 2rem;

}
.form > button{
  width: 100%;
}
.perdeu{
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}
.perdeu::after{
  content: '';
  height: 2px;
  width: 100%;
  background-color: currentColor;
  display: block;
}
.cadastro{
  margin-top: 4rem;
}
.cadastro p{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.subtitle{
  font-family: var(--type-code2);
  line-height: 1;
  font-size: 2rem;
}
.subtitle::after{
  content: '';
  display: block;
  background: #ddd;
  height: .5rem;
  width: 3rem;
  border-radius: .2rem;
}