.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 40rem;
  gap: 2rem;
}

.login::before {
  display: block;
  content: '';
  background: url('../../assets/img/login.jpg') no-repeat center center;
  background-size: cover;
  outline: none;
  height: 100vh;
}

.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.cadastro::after {
  content: '';
  display: block;
  font-weight: bold;
  height: 100%;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 2rem;
  font-size: 2rem;
  color: #0046CC;
  background: url('../../assets/img/criar.jpg') no-repeat center center;
  background-size: cover;
  outline: none;

}


.cadastro .Login_forms__5MXFL {
max-width: 40rem;
}

@media (max-width: 40rem) {

  .login,
  .cadastro {
    grid-template-columns: 1fr;
    min-width: 10rem;
  }

 
  .cadastro::after {
   display: none;
  }
  .cadastro::before, .login::before{
    display: block;
  content: '';
  max-width: 100vw;
  height: 10rem;
    background: url('../../assets/img/pdilogoCinza.png') no-repeat center center;
    background-size:cover;
    outline: none;
    box-shadow: 0 0 0 0;
    border: none;
    border-radius: 0;
  }
  .forms {
    
  }
}