.login {
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url(../../assets/img/login.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-width: 40rem;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 40rem){
  .login{
    display: block;
    background: #f2f2f2;
    align-items: center;
    justify-content: center;
    gap: unset;
    width:unset;
    height: unset;
  }
}

login::before {
  display: block;
  content: '';
  background: url('../../assets/img/login.jpg') no-repeat center center;
  background-size: cover;
  outline: none;
  height: 100vh;
}

.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.cadastro::after {
  content: '';
  display: block;
  font-weight: bold;
  height: 100%;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 2rem;
  font-size: 2rem;
  color: #0046CC;
  background: url('../../assets/img/criar.jpg') no-repeat center center;
  background-size: cover;
  outline: none;

}


.cadastro .Login_forms__5MXFL {
max-width: 40rem;
}

@media (max-width: 40rem) {

  .login,
  .cadastro {
    grid-template-columns: 1fr;
    min-width: 10rem;
  }

 
  .cadastro::after {
   display: none;
  }
  .cadastro::before, .login::before{
    display: block;
  content: '';
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  max-width: 100vw;
  height: 10rem;
    background: url('../../assets/img/pdilogoCinza.png') no-repeat center center;
    background-size:cover;
    background-position: center center;
    outline: none;
    box-shadow: 0 0 0 0;
    border: none;
    border-radius: 0;

  }
  .forms {
    
  }
}