.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 40rem;
  gap: 2rem;
}

.login::before {
  display: block;
  content: '';
  background: url('../../assets/img/login.jpg') no-repeat center center;
  background-size: cover;
  border-bottom-right-radius:50%;
  border-top-right-radius: 10px;
  outline: none;
  box-shadow: 0 0 10px .25rem #0046CC;
}

.cadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 40rem;
  gap: 2rem;

}

.cadastro::after {
  display: block;
  content: 'PDI - novo na comunidade';
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 2rem;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50%;
  color: #0046CC;
  background: url('../../assets/img/criar.jpg') no-repeat center center;
  background-size: cover;
  outline: none;
  box-shadow: 0 0 10px .25rem #9B1476;
}


.cadastro .Login_forms__5MXFL {

}

@media (max-width: 40rem) {

  .login,
  .cadastro {
    grid-template-columns: 1fr;
    min-width: 10rem;
  }

 
  .cadastro::after {
   display: none;
  }
  .cadastro::before, .login::before{
    display: block;
  content: '';
  max-width: 100vw;
  height: 10rem;
    background: url('../../assets/img/pdilogoCinza.png') no-repeat center center;
    background-size:cover;
    outline: none;
    box-shadow: 0 0 0 0;
    border: none;
    border-radius: 0;
  }
  .forms {
    max-width: 100%;
  }
}