<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Responsive bottom navigation</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">  <nav class="nav container">
      <a href="#" class="nav_logo">Marlon</a>
      <div class="nav_menu">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="#home" class="nav_link active_link">
              <i class="bx bxs-home-heart nav_icon"></i>
              <span class="nav_name">Home</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="#about" class="nav_link">
              <i class="bx bx-user nav_icon"></i>
              <span class="nav_name">About</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="#skills" class="nav_link">
              <i class="bx bx-book-alt nav_icon"></i>
              <span class="nav_name">Skills</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="#portofolio" class="nav_link">
              <i class="bx bx-briefcase-alt nav_icon"></i>
              <span class="nav_name">Portfolio</span>
            </a>
          </li>

          <li class="nav_item">
            <a href="#contact" class="nav_link">
              <i class="bx bx-message-square-dots nav_icon"></i>
              <span class="nav_name">Contactme</span>
            </a>
          </li>
        </ul>
      </div>
      <img src="assets/img/perfil.png" alt="profile" class="nav_img" />
    </nav></header>
  
    <main>
      <!--=============== HOME ===============-->
      <section class="container section section_height" id="home">
        <h2 class="section_title">Home</h2>
    </section>

      <!--=============== ABOUT ===============-->
      <section class="container section section_height" id="about">
        <h2 class="section_title">About</h2>
      </section>

      <!--=============== SKILLS ===============-->
      <section class="container section section_height" id="skills"><h2 class="section_title">Home</h2></section>

      <!--=============== PORTFOLIO ===============-->
      <section
        class="container section section_height"
        id="portfolio"
      ><h2 class="section_title">Home</h2></section>

      <!--=============== CONTACTME ===============-->
      <section
        class="container section section_height"
        id="contactme"
      ></section>
    </main>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
