* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  --type-code1: 'Cascadia Code', 'Fira Code', Menlo, Monaco,  'Courier New',
  monospace;
  --type-code2: 'Fira Code', 'Cascadia Code',  Consolas, source-code-pro, Menlo, Monaco,  'Courier New',
  monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

button,
input, select {
  display: block;
  font-size: 1rem;
  font-family: var(--type-code2);
  color: #333;
}
label{
  font-family: var(--type-code1);
}
.container {
  margin: 0 auto;
  max-width: calc(100% - 3rem);
}
.animeLeft{
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards; 
}
.title{
  font-family:var(--type-code1) ;
  position: relative;
  line-height: 1;
  font-size: 3rem;
  margin: 2rem 0;
  width: max-content;
}
.title::after{
  content: '';
  display: block;
 background: #0046CC;
  width: 50%;
  height: .250rem;
  position: absolute;
  margin-top: .625rem;
  left: -5px;
  z-index: -1;
}
.error{

}
@keyframes animeLeft{
  to{
    opacity: 1;
    transform: initial;
  }
}